/* 
To convert SVG images from black to any color with css-filter:

https://codepen.io/sosuke/pen/Pjoqqp
*/

/* test of .fixed element for upcoming events: http://jsfiddle.net/cqztf9kc/ */
/* TODO: add JS button so that users can close out of it */
.fixed {
  background-color: black;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  border-radius: 5px
}


/* GLOBAL STYLES for the BODY */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  background-color: #f0f0f0;
  background-image: url(img/disco.jpg);
  background-position: center;
  /*background-repeat: no-repeat; */
  background-size: cover;
}

/* CDN IMPORTED font-awesome styles for social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 2px;
  /*border: 1px solid #ccc;*/
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  /*background: #3B5998;*/
  /*color: #3B5998;*/
  color: black;
}

.fa-instagram {
  /*background: #125688;*/
  /*color: #125688;*/
  color: black;
}

.fa-mixcloud {
  /*background: #125688;*/
  /*color: #125688;*/
  color: black;
}

.fa-spotify {
  /*background: #125688;*/
  /*color: #125688;*/
  color: black;
}


/* HEADER and FOOTER: flex-box */
nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, pink, white);
  margin: 6px 0;
}

/* Control size of Modern Love SVG logotypes */
nav.menu img {
  width: 200px;
  height: auto;
}

nav.menu img:hover {
    opacity: 0.4;
}


/* GALLERY CARDS for MIXES */

div.gallery {
  height: 370px;
  overflow: hidden;
  margin: 10px 0;
}

div.gallery:hover {
  border: 1px solid #777;
}

.place_date {
  padding: 10px;
  text-align: left;
  background-color: grey;
  color: white;
  font-size: smaller;
  border-top-left-radius: 10px;
}

/* All the import aspect normalizing for posters is here */
div.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover; 
  object-position: center top;
}

.gallery:hover {
  overflow-y: scroll;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div.desc {
  padding: 10px;
  text-align: center;
  background-color: white;
  opacity: 0.7;
  font-size: smaller;
}

* {
  box-sizing: border-box;
}

/* for upcoming events */
.upcoming {
  background-color: lawngreen;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 16.66666%; /* 6 tiles per row on full screen */
}


/* CHECK for MOBILE vs. DESKTOP */
@media only screen and (max-width: 1125px) {
  .responsive {
    width: 33.33333%; /* was 49.999 */
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 49.99999%;
  }
}

