div.row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

div.header-column {
  text-align: center;
}

/* Clear floats after the columns */
div.row:after {
  content: "";
  display: table;
  clear: both;
}


/* stuff above this added to demo the logos */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

/* All the import aspect normalizing is here */
/* Really need to crop David's weird layout one */
div.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover; 
  object-position: center top;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

div.next_event {
  /*border: 3px solid LawnGreen;*/
  background: LawnGreen;
}

.announce {
  display: inline;
  background: LawnGreen;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 12.49999%;/*24.99999%;*/
}

/* figure out what is iphone width -- was 700 */
@media only screen and (max-width: 1125px) {
  .responsive {
    width: 16.66666%; /* was 49.999 */
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 49.99999%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}